:root {
  --primary-color: #c94496;
}

body {
  margin: 0;
}

header {
  background: var(--primary-color);
  padding: 2rem;
  margin: auto;
  text-align: center;
}

h1 {
  color:blue;
}

.container {
  padding: 1rem;
  text-align: center;
  color:green;
}
