:root {
  --primary-color: #302285;
}

body {
  margin: 0;
}

header {
  background: var(--primary-color);
  padding: 1rem;
  margin: auto;
  text-align: center;
}

h1 {
  color: white;
}

.grid-container {
  display: grid;
  margin-top: 5rem;
  padding: 3rem;
  align-items: center;
  justify-content: center;
}

.grid-item {
  border-radius: 8px;
  box-shadow: black 5px 4px 6px;
  width: 320px;
  background-color: aquamarine;
}
