.top-header{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-head{
    display: flex;
    justify-content: space-between;
}
.nav-head ul{
    list-style: none;
}
.nav-head ul li{
    text-decoration: none;
    list-style: none;

}
.img{
    background-image: url(https://unsplash.com/photos/SvQwLe8ln5I);
}

.ok .btn{
    background: rebeccapurple;
    border-radius: 1px solid black;
    display: inline-flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin: 0px 665px;
    border-radius: 32px;
    padding: 10px 15px
}
.btn:hover{
    background: rgb(32, 253, 28);
    transform: translateY(-5px);
}